# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Compiled JavaScript files (submodule should not generate .js files)
*.js
*.js.map

# TypeScript build info
*.tsbuildinfo

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
